/* section{
	padding : 10% 20%; 
} */
body{
	width: 100%;
}
h1{
	color : #7EAB7D;
}

table {
		width : 100%;
		margin-left: auto;
    	margin-right: auto;
}
#tr{
	margin : 30px;
	text-align : center;
}


h2 {
		
}


#cntPerPage{
	margin-right: 1100px;
}
#outter {
	
}
.a{
	border-bottom : 1px black solid;
}