/* section{
	padding : 10% 20%; 
} */

#cntPerPage{
	margin-right: 1100px;
}
table {
		width : 100%;
		margin-left: auto;
    	margin-right: auto;
}
.a{
	border-bottom : 1px black solid;
}
#tr{
	margin : 30px;
	text-align : center;
}
#all{
	width: 100px;
    padding: 5px 0 5px;

    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #7EAB7D;
    font-size: 8px;
    font-weight: 600;
    border-radius: 12px;
    margin-right : 10px;
}