table {
		width : 80%;
		border-spacing: 20px;
		margin-left: auto;
    	margin-right: auto;
    	margin-top:10px;
}
.a{
	border-bottom : 1px black solid;
}

#accept{
	width: 100px;
    padding: 5px 0 5px;

    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #08a600;
    font-size: 8px;
    font-weight: 600;
    border-radius: 12px;
    float : right;
    margin-right : 250px;
    margin-top : 15px;
}
#cancel{
	width: 100px;
    padding: 5px 0 5px;

    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #08a600;
    font-size: 8px;
    font-weight: 600;
    border-radius: 12px;
    float : right;
    margin-top : 15px;
}