/* section{
	padding : 10% 20%; 
} */



table {
		width : 90%;
		margin-left: auto;
    	margin-right: auto;
}
#tr{
	margin : 30px;
	text-align : center;
}

h2 {
		
}


#buttonn{
	
}

#outter {
	width : 80%;
	padding-top : 50px;
	padding-bottom : 50px;
	padding-left : 10%;
	margin-left : 5%;
}
.a{
	border-bottom : 1px black solid;
}