.dd{
	color : #7EAB7D;
}
.maincontainer{
	display : flex;
	flex-direction : column;
	width : 100%;
}
.admin-menu{
	display : flex;
	width : 100%;
	height : 80px;
	margin-left : -5%;
	font-size : 20pt;
	
}
#select{



}


table {
		width : 100%;
		border-spacing: 10px;
		margin-left: auto;
    	margin-right: auto;
}
#tr{
	margin : 30px;
	text-align : center;
}
.admin-menu-title{
  	width : 100%;
	margin-left : 30px;
	padding-left : 10%;
	padding-top : 2%;
}
h2 {
		
}

#ban{
	width: 100px;
    padding: 5px 0 5px;

    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #7EAB7D;
    font-size: 8px;
    font-weight: 600;
    border-radius: 12px;
	
}
#report{
	width: 100px;
    padding: 5px 0 5px;

    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #7EAB7D;
    font-size: 8px;
    font-weight: 600;
    border-radius: 12px;
}
#buttonn{
	
}

#outter {
	
}
.a{
	border-bottom : 1px black solid;
}
