@charset "UTF-8";

/* footer css */
footer {
	bottom: 0px;
	width: 100%;
	padding: 0px !important;
	background-color: rgba( 255, 255, 255, 0.2) !important;
	height: 30px;
	text-align : center;
	margin-top:100px;
}