@charset "UTF-8";

/* footer css */

.footer{
	width: 100%;
	text-align: center;
	margin: 20px 0px 20px 0px;
}

.footer_box_ul{
	
}

.footer_box_ul > li {
	display: inline-block;
	padding: 0px 15px;
    border-right: 1px solid #333;
}
.footer_box_ul > li:last-child {
	border : none;
}