@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
ul,li,ol{
	list-style: none;
}

.header{
	position : fixed;
	margin-left : 35px;
	margin-right : 35px;
	width : 100%;
	line-height: 50px;
	z-index : 9999;
}

.headeratag{
	text-decoration : none;
	color:#6A6868;
}

.logo{
	width: 10%;
	float : left;
}

.logo > a{
	color:black;
	font-style: italic;
}
.logo > a > span{
	color:green;
	font-style : italic;
}

ul.nav{
	float: right;
	width: 650px;
	
}

.nav > a{
	color:#6A6868;
	margin-left : 10px;
}

.nav > a:hover{
	font-weight:bold;
}



ul.nav li{
	float : left;
	/*width : 100px;*/
	text-align: center;
	margin-right: 20px;
}

ul.nav2{
	float: right;
	width: 800px;
	
}

.nav2 > a{
	color:#6A6868;
	margin-left : 10px;
}

.nav2 > a:hover{
	font-weight:bold;
}



ul.nav2 li{
	float : left;
	/*width : 100px;*/
	text-align: center;
	margin-right: 20px;
}

li:nth-last-child{
	margin-right: 0px;
}

.login > a{
	color:black;
	/* margin-left : 10px; */
	font-style : italic;
	font-size: 14px;
}

.login > a:hover{
	font-weight:bold;
}

/* Dropdown 버튼 */
.dropbtn {
  background-color: transparent;
  color: #6A6868;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* dropdown 외부 (position: absoulute) */
.dropdown {
  position: relative;
  display: inline-block;
}

/* dropdown 내부 (position: absoulute) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
}

/* dropdown 내부 a */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* dropdown 내부 a: hover */
.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
  display: block;
}

/*  dropdown시 보여주고싶은 색 설정  */
.dropdown:hover .dropbtn {
  background-color: transparent;
  color:#6A6868;
}