@charset "UTF-8";

.modal_wrap{
        display: none;
        width: 500px;
        height: 500px;
        position: absolute;
        top:50%;
        left: 50%;
        margin: -250px 0 0 -250px;
        background:#eee;
        z-index: 2;
    }
    
    .black_bg{
        display: none;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0,0, 0.5);
        top:0;
        left: 0;
        z-index: 1;
    }
    .modal_close{
        width: 26px;
        height: 26px;
        position: absolute;
        top: -30px;
        right: 0;
    }
    .modal_close> a{
        display: block;
        width: 100%;
        height: 100%;
        background:url(https://img.icons8.com/metro/26/000000/close-window.png);
        text-indent: -9999px;
    }

a{
   text-decoration: none;
   
}
.snslogin{
	position: absolute;
	left: 23px;
	top: 350px;
}
    
.logo{

   font-size:50px;
   position: absolute;
   width: 326px;
   height: 75px;
   left: 120px;
   top: 75px;
}    
    
.logo > a{
   color:black;
   font-style: italic;
}
.logo > a > span{
   color:green;
   font-style : italic;
}

#member_id{
   position: absolute;
   width: 300px;
   height: 54px;
   left: 55px;
   top: 199px;

   background: #C4C4C4;
}

#member_pw{
   position: absolute;
   width: 300px;
   height: 54px;
   left: 55px;
   top: 264px;

   background: #C4C4C4;
}

#loginbtn{
   position: absolute;
   width: 80px;
   height: 125px;
   left: 370px;
   top: 199px;

   background: #C4C4C4;
}

.idpwlink{
   position: absolute;
   top: 400px;
   left: 70px;
} 


.idpwlink li{
   display:inline-block;
   margin-right:5px;
}