body {
    
    font-family: Dotum,'돋움',Helvetica,sans-serif;
  	font-weight: 600;
}

#enterBtn{
	 width: 20%;
    padding: 5px 0 5px;

    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #08a600;
    font-size: 8px;
    font-weight: 600;
    border-radius: 12px;
    
}
#exitBtn{
	width: 20%;
    padding: 5px 0 5px;

    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #08a600;
    font-size: 8px;
    font-weight: 600;
    border-radius: 12px;
    
} 
#nickname{
	width : 180px;
}


.input-div { 
	position : fixed;
	bottom: 0; 
	width: 350px; 
	background-color: #FFF; 
	text-align: center;
	 border-top: 1px solid #08a600; 
}
.input-div > textarea { 
	bottom: 0; 
	width: 330px; 
	height: 80px;
	 border: none; 
	 padding: 10px;
}
#text{
	
}



#sendBtn{
	float:right;
	width: 20%;
    padding: 5px 0 5px;

    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: white;
    font-size: 8px;
    font-weight: 600;
    border-radius: 12px;
    margin : 15px;
	margin-top : 1px;
	bottom: 0;
}
footer{
  position:fixed; 
  left:0px; 
  bottom:0px; 
  height:60px; 
  width:100%;
}


.mes{
    height:100px;
	width: 100%;
	left: 0;
	bottom: 0;
}