section{
	padding-top : 100px;
}

.gosenmsglist{
	color : green;
}
.goroomlist{
	color : black;
}

.maincontainer{
	display : flex;
	flex-direction : column;
	width : 100%;
}

.mysenmsg-menu{
	display : flex;
	width : 50%;
	height : 80px;
	margin-left : 25%;
	font-size : 25pt;
	color : green;
}

.mysenmsg-menu-title{
	width : 100%;
	margin-left : 30px;
	padding-left : 10%;
	padding-top : 2%;
}

.mysenmsg-list{
	width : 80%;
	padding-top : 50px;
	padding-bottom : 50px;
	padding-left : 10%;
	margin-left : 5%;
}

.a{
	border-bottom : 1px black solid;
}