body{
	font-family:InfinitySans-RegularA1;
}

#firstbox{
	border-bottom : 3px gray solid;
}

#icon{
	font-size : 15pt;
	text-align : center;
	padding-top : 0px;
	margin-top : 0px;
}
#iconcolor{
	color : green;
}
.iconbox{
	width : 100%;
	height : 20px;
	text-align : center;
}

/* 가장 큰 틀 */
.msginfo{
	width : 100%;
	height : 600px;
	margin-top : 30px;
}

/* 쪽지 내용 외의 css */
.tr-height{
	height : 60px;
}

/* 쪽지 내용 div의 css */
.tr-content-height{
	height : 300px;
}

.msg-info-title{
	color : green;
}

.msg-info-content{
	text-align : center;
}

/* 중간중간에 선을 넣기 위한 css */
.a{
	border-bottom : 1px gray solid;
}