

.maincontainer{
	display : flex;
	flex-direction : column;
	width : 100%;
}

.mydona-menu{
	display : flex;
	width : 50%;
	height : 80px;
	margin-left : 25%;
	font-size : 25pt;
	color : #7EAB7D;
}

.mydona-menu-title{
	width : 100%;
	margin-left : 30px;
	padding-left : 30%;
	padding-top : 2%;
}

.mydona-list{
	width : 80%;
	padding-top : 50px;
	padding-bottom : 50px;
	padding-left : 10%;
	margin-left : 5%;
}

.a{
	border-bottom : 1px black solid;
}
#nav.paging{
    display:flex;
    justify-content:center;
    align-items:center;
}
#nav.paging > a{
    color: var(--color-light-grey);
    margin:8px;
}
#nav.paging > a.active{
    color: green;
    margin:8px;
}
