.gowishlist{
	color : #7EAB7D;
}
.goroomlist{
	color : black;
}

.maincontainer{
	display : flex;
	flex-direction : column;
	width : 100%;
}

.mywish-menu{
	display : flex;
	width : 50%;
	height : 80px;
	margin-left : 25%;
	font-size : 25pt;
	color : #7EAB7D;
}

.mywish-menu-title{
	width : 100%;
	margin-left : 30px;
	padding-left : 10%;
	padding-top : 2%;
}

.mywish-list{
	height :  590px;
}

.muldelebtn{
	border : none;
	color : white;
	background-color : 	#7EAB7D;
	height : 30px;
	border-radius: 10px 10px 10px 10px;
}

#nav.paging{
    display:flex;
    justify-content:center;
    align-items:center;
}
#nav.paging > a{
    color: var(--color-light-grey);
    margin:8px;
}
#nav.paging > a.active{
    color: green;
    margin:8px;
}