section{
	padding-top : 100px;
}

.gowishlist, .goroomlist{
	color : green;
}

.maincontainer{
	display : flex;
	flex-direction : column;
	width : 100%;
	height : 780px;
	border : 2px black solid;
}

.mywish-menu{
	display : flex;
	width : 70%;
	height : 80px;
	font-size : 25pt;
	color : green;
	border : 1px red solid;
}

.mywish-menu-title{
	width : 100%;
	border : 1px orange solid;
}

.mywish-list{
	border : 1px blue solid;
}