@charset "UTF-8";

#notice_label {
   margin-right : 30px;
}


/* 기본설정 */

#notice_form{
   width: 100%;
   max-width : 1300px;
   padding:100px;
   margin : 0 auto;
   background-color:#7EAB7D;
   border-radius: 15px;
}



a{
   text-decoration : none !important;
   color:#6A6868 !important;
}

.dropbtn{
   font-weight: normal !important;
}

a:hover{
   color : #6A6868 !important;
}

h3{
   color:white !important;
}



/* -------------------- main title -------------------- */

#insert_noticetitle {
   width : 100%;
   height : 50px;
   max-width : 1300px;
}

/* -------------------- main content -------------------- */

#insert_content {
   width : 100%;
   max-width : 1300px;
   margin : 15px 0 15px 0;
}

#insert_content #photo_list{
   
   width : 100%;
   height : 100px;
   max-width : 1200px;
   margin : 15px 0 15px 0;
   resize : none;
}




/* button 설정 */

notice_button{
   
   border:0;
   outline:0;
   background-color: #7EAB7D ;
   color:white;
   transition: 0.3s all;
}


notice_button:hover{
   transform: scale(1.05);
   opacity:0.7;
}






