@charset "UTF-8";

/* -------------------- reply text -------------------- */

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;

}

.form__field:focus {
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }

}
/* demo */
body {
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color:#222222;
}

/* -------------------- button -------------------- */
.btn_wrap {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.notice_button {
   width: 140px;
   height: 45px;
   font-family: 'Roboto', sans-serif;
   font-size: 11px;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   font-weight: 500;
   color: #000;
   background-color: #f0fee7;
   border: none;
   border-radius: 45px;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease 0s;
   cursor: pointer;
   outline: none;
}

.notice_button:hover {
   background-color: #7EAB7D;
   box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
   color: #fff;
   transform: translateY(-7px);
}

/* -------------------- table -------------------- */

table.table_notice_type02 {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-collapse: separate;
   border-spacing: 0;
   text-align: left;
   line-height: 1.5;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   border-bottom: 0;
   margin: 20px 10px;
   width:1200px;
}

table.table_notice_type02 th {
   width: 150px;
   padding: 10px;
   font-weight: bold;
   vertical-align: top;
   border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   border-top: 1px solid #fff;
   border-left: 1px solid #fff;
   background: #7EAB7D;
   color: white;
   text-align: center;
}

table.table_notice_type02 td {
   width: 700px;
   padding: 10px;
   vertical-align: top;
   border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
}

#content_style{
   height: 300px;
   width : 100%;
   max-width : 1000px;
   margin : 15px 0 15px 0;
}

/* -------------------- etc -------------------- */
h1 {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #7EAB7D;
   font-size: 40px;
   margin-bottom: 30px;
}

/* -------------------- reply -------------------- */
#notice_form{
   width: 100%;
   max-width : 1000px;
   padding:100px;
   margin : 0 auto;
   background-color:#7EAB7D;
   border-radius: 15px;
}

.commentArea{
   border-bottom:1px solid #ffffff;
}
