/* 첫번째 container css */
#firstcontainer{
	display : flex;
	justify-content: space-between;
}
/* 방 사진 큰 틀 */
#imgcontainer{
	width : 60%;
	height : 500px;
	display : flex;
}
/* 왼쪽 화살표 */
#leftarrow{
	position: absolute;
	margin-top : 170px;
}

/* 방 사진 */
#roomimg{
	width : 90%;
	height : 90%;
	margin-left : 50px;
	border : 1px black solid;
	position: relative;
}

.room_photo{
	width : 100%;
	height : 100%;
	position: absolute;
}

#aa{
	width : 100%;
}

/* 신고, 쪽지에 대한 커서 만들어주기 */
#reportbtn, #messagebtn{
	cursor : pointer;
}

/* 오른쪽 화살표 */
#rightarrow{
	position: absolute;
	margin-top : 170px;
	right : 0%;
}
/* 양쪽 화살표의 크기 지정 */
.arrow{
	width : 100px;
	height : 100px;
	z-index : 1;
}
a>img {
	width: 50px;
	height: 50px;
}


/*-------------------우측 매물정보 css 시작-------------------*/

/* 유정보를 담고있는 container */
#userinfocontainer{
	width : 40%;
	height : 90%;
	display : flex;
}

/* 유저 상세보기 정보 css */
#userinfodetail{
	background-color : gray;
	width : 37%;
	height : 452px;
}

/* 사용자 정보 제목 큰 틀 */
#userinfotitle{
	height : 70px;
	border-bottom : 1px white solid;	
}

/* 사용자정보 제목 (매물정보, 찜하기)*/
#leftb{
	float : left;
	font-size : 13pt;
	margin-top : 25px;
	margin-left : 25px;
	font-weight : bold;
}
#rightb{
	float : right;
	font-size : 13pt;
	margin-top : 25px;
	margin-right : 25px;
	font-weight : bold;
}

/* content안의 내용 */
.leftb{
	position: absolute;
	top : 10%;
	left : 10%;
	padding-bottom : 10%;
}
.rightb{
	position: absolute;
	top : 10%;
	right : 10%;
}

/* 사용자 / 매물정보 내용css */
.userinfocontent, .roominfocontent{
	position : relative;
	margin-top : 30px;
	font-size : 14pt;
	height: 5%;
}

/*-----------------우측 매물정보 css 끝-------------------*/


/*------------------공지사항 css 시작--------------------*/
/* 공지사항 정보 css */
#noticeinfo{
	width : 54.2%;
	height : 30px;
	margin-left : 50px;
}

/* noticeinfo 안에 span에 css */
#noticeinfo > span{
	font-size : 15pt;
}

#noticeinfo span > b{
	color : green;
	font-weight : bold;
}
/*------------------공지사항 css 끝--------------------*/



/*------------------kakaoMap css 시작--------------------*/
/* map담을 div css */
#roommap{
	width : 54.2%;
	height : 400px;
	margin-left : 50px;
	margin-top : 50px;
}
/*------------------kakaoMap css 끝--------------------*/


/*------------------매물 정보 css 시작--------------------*/
/* 방정보 담는 큰 container */
#thirdcontainer{
	display:flex;
	flex-direction : column;
	width : 54.2%;
	height : 750px;
	margin-bottom : 50px;
	margin-left : 50px;
	margin-top : 40px;
}

/* 방정보 제목을 담을 div css */
.roominfo-title{
	width : 100%;
	height : 10%;
	border-top : 2px black solid;
}
/* 방정보 내용을 담을 div css */
.roominfo-content{
	display : flex;
	flex-wrap: wrap;
	width : 100%;
	height : 100%;
}
/* 아래의 두개를 묶은 div */
.roominfo-detail{
	display : flex;
	width : 45%;
	height : 50px;
	margin-left : 30px;
	margin-top : 30px;
}
/* 방정보 내용 안에서 하나의 제목 */
.roominfo-detail-title{
	width : 33%;
	padding-top : 3%;
	font-size : 13pt;
	border-top : 2px black solid;
	color : green;
}

/* 방정보 내용 안에서 하나의 내용 */
.roominfo-detail-content{
	width : 67%;
	margin-left : 5%;
	padding-top : 3%;
	font-size : 13pt;
	border-top : 2px black solid;
}

/* textarea의 사이즈 지정 */
#detailcontent{
	resize : none;
}

/* 매물 상세정보 div */
.roominfo-content-detailcontent{
	display : flex;
	width : 45%;
	height : 50px;
	margin-left : 30px;
	margin-top : 30px;
}

/* 매물 상세정보의 제목 */
.roominfo-content-detailcontent-title{
	width : 32%;
	font-size : 13pt;
	padding-top : 3%;
	border-top : 2px black solid;
	color : green;
}

/* 매물 상세정보의 내용 */
.roominfo-content-detailcontent-content{
	width : 54.2%;
	margin-left : 75px;
	border : 1px black solid;
}

/* 버튼 box css */
.roominfosubmit{
	margin-top : 70px;
	margin-left : 50px;
	width : 62.7%;
	height : 100px;
}

/* 버튼 위치 css */
.submitbtn{
	margin-left : 40%;
}

.roombtn{
	width : 100px;
	height : 70px;
	background-color : white;
	cursor : pointer;
}


/*------------------매물정보 css 끝--------------------*/

/*------------------D3 css 시작--------------------*/

.d3DetailBox{
	position : absolute;
	width : 100%
}

.d3Content{
	border : 1px black solid;
	width: 550px;
    margin-top: 10px;
}

svg{
	margin-left: 100px;
}

.pieinfo{
	margin-left: 100px;
}

#pieresult1{
	margin-left: 80px;
	margin-bottom: 10px;
}

#pieresult2{
	margin-left: 80px;
	margin-bottom: 10px;
}

.noD3Content{
    width: 420px;
    height: 60px;
    border: 1px black solid;
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 130px;
}

.pieinfo{
	margin-top: 10px;
}