.imgs{
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
}

.imgbox {
	width:250px;
	height:250px;
	background-color: gray;
	margin:20px;
	position : relative;
}

.img{
	width:250px;
	height:250px;
}

.imgbox:hover .img{
	opacity: 0.3;
	z-index : 1;
	transition: 0.3s;
	transform: scale(1.1);
}

.imgbox:hover .content{
	visibility : visible;
}

.content{
    height: 79.2px;
    width: 250px;
    position: absolute;
    top: 90px;
    visibility: hidden;
}

.room_type{
	color:white;
	font-weight:bold; 
	font-size:20pt;
	text-align:center;
}

.room_price{
	color:white;
	font-weight:bold;
	font-size:20pt; 
	text-align:center;
}


