/* section을 header로 부터 떨어트리는 거리 */
section{
	padding-top : 100px;
}
/* 첫번째 container css */
#firstcontainer{
	display : flex;
	justify-content: space-between;
}
/* 방 사진 큰 틀 */
#imgcontainer{
	width : 70%;
	height : 500px;
	display : flex;
}
/* 왼쪽 화살표 */
#leftarrow{
	position : absolute;
	top : 50%;
}

/* 방 사진 */
#roomimg{
	width : 90%;
	height : 90%;
	margin-left : 50px;
	background-color : blue;
	position: relative;
}

/* 오른쪽 화살표 */
#rightarrow{
	position : absolute;
	top : 50%;
}
/* 양쪽 화살표의 크기 지정 */
a>img {
	width: 50px;
	height: 50px;
}

/* a태그의 밑줄 없애기 */
a {
	text-decoration: none;
	color : red;
}

/* 유정보를 담고있는 container */
#userinfocontainer{
	width : 30%;
	height : 500px;
	display : flex;
}

/* 유저 상세보기 정보 css */
#userinfodetail{
	background-color : gray;
	width : 400px;
	height : 450px;
	position: fixed;
}

/* 공지사항 정보 css */
#noticeinfo{
	width : 100%;
	height : 30px;
	padding-left : 50px;
}

/* 방정보 담는 큰 container */
#thirdcontainer{
	display:flex;
	margin-bottom : 50px;
	margin-left : 50px;
	margin-top : 40px;
}

/* 방상세정보컨테이너 */
#roominfdetail{
	text-align : center;
}

/* 사용자 정보 제목 큰 틀 */
#userinfotitle{
	height : 70px;
	border-bottom : 1px white solid;	
}

/* 사용자정보 제목 (매물정보, 찜하기)*/
#leftb{
	float : left;
	font-size : 13pt;
	margin-top : 25px;
	margin-left : 25px;
	font-weight : bold;
}
#rightb{
	float : right;
	font-size : 13pt;
	margin-top : 25px;
	margin-right : 25px;
	font-weight : bold;
}

/* 사용자 / 매물정보 내용css */
.userinfocontent{
	margin-top : 35px;
	margin-left : 20px;
}

/* content안의 내용 */
.leftb{
	
}
.rightb{
	
}
