/* section을 header로 부터 떨어트리는 거리 */
section{
	padding-top : 100px;
}
/* 첫번째 container css */
#firstcontainer{
	display : flex;
	justify-content: space-between;
}
/* 방 사진 큰 틀 */
#imgcontainer{
	width : 70%;
	height : 500px;
	display : flex;
}
/* 왼쪽 화살표 */
#leftarrow{
	position: absolute;
	margin-top : 170px;
}

/* 방 사진 */
#roomimg{
	width : 90%;
	height : 90%;
	margin-left : 50px;
	background-color : blue;
	position: relative;
}

/* 오른쪽 화살표 */
#rightarrow{
	position: absolute;
	margin-top : 170px;
	right : 0%;
}
/* 양쪽 화살표의 크기 지정 */
.arrow{
	width : 100px;
	height : 100px;
}
a>img {
	width: 50px;
	height: 50px;
}



/* 유정보를 담고있는 container */
#userinfocontainer{
	width : 30%;
	height : 90%;
	display : flex;
}

/* 유저 상세보기 정보 css */
#userinfodetail{
	background-color : gray;
	width : 27%;
	height : 452px;
	position: fixed;
}

/* 사용자 정보 제목 큰 틀 */
#userinfotitle{
	height : 70px;
	border-bottom : 1px white solid;	
}

/* 사용자정보 제목 (매물정보, 찜하기)*/
#leftb{
	float : left;
	font-size : 13pt;
	margin-top : 25px;
	margin-left : 25px;
	font-weight : bold;
}
#rightb{
	float : right;
	font-size : 13pt;
	margin-top : 25px;
	margin-right : 25px;
	font-weight : bold;
}

/* content안의 내용 */
.leftb{
	position: absolute;
	top : 10%;
	left : 10%;
	padding-bottom : 10%;
}
.rightb{
	position: absolute;
	top : 10%;
	right : 10%;
}

/* 사용자 / 매물정보 내용css */
.userinfocontent, .roominfocontent{
	position : relative;
	margin-top : 30px;
	font-size : 14pt;
	height: 5%;
}


/* 공지사항 정보 css */
#noticeinfo{
	width : 100%;
	height : 30px;
	padding-left : 50px;
}

/* noticeinfo 안에 span에 css */
#noticeinfo > span{
	background-color : gray;
}

/* recommendinfo css */
#recommendinfo{
	width : 100%;
	height : 30px;
	padding-left : 50px;
}

/* recommend 안에 span에 css */
#recommendinfo > span{
	background-color : gray;
}

/* 방정보 담는 큰 container */
#thirdcontainer{
	display:flex;
	margin-bottom : 50px;
	margin-left : 50px;
	margin-top : 40px;
}

/* 방상세정보컨테이너 */
#roominfdetail{
	text-align : center;
}
#detailcontent{
	resize : none;
}
