/* 가장 큰 container */
.update-container{
	width : 100%;
	height : 1200px;
	display : flex;
	flex-wrap: wrap;
}

/* 제목 div */
.update-title{
	width : 100%;
	height : 60px;
	font-weight : bold;
	border-bottom : 2px black solid;	
}

/* 이미지를 담아중 div css */
.update-image{
	width : 35%;
	height : 450px;
}

/* 사진 담는 div 크기 */
.update-image-detail{
	width : 90%;
	height : 90%;
	margin-left : 5%;
	margin-top : 5%;
	border : 1px black solid;
	position: relative;
}


/* 왼쪽 화살표  */
.leftarrow{
	position: absolute;
	width : 80px;
	height : 80px;
	top : 40%;
	z-index : 1;
}

/* 오른쪽 화살표 */ 
.rightarrow{
	position: absolute;
	width : 80px;
	height : 80px;
	right : 0%;
	top : 40%;
	z-index : 1;
}

/* 사진 크기 */
.room_image{
	width : 100%;
	height : 100%;
	position: absolute;
}
.room-image{
	width : 100%;
	height : 100%;
	position: absolute;
}

/* 매물 정보의 내용이 들어가는 div css */
.update-content{
	width : 65%;
	height : 450px;
	display : flex;
	flex-wrap: wrap;
}

/* 매물정보의 내용이 들어가는 div css(아래의 2개 div를 포함하는 div) */
.update-content-detail{
	width : 30%;
	padding-left : 70px;
	padding-top : 20px;
}

/* 매물정보의 내용 중 제목이 들어가는 div css */
.update-content-detail-title{
	font-size : 14pt;
	color : #7EAB7D;
	border-bottom : 1px gray solid;
}

/* 매물정보의 내용 중 내용이 들어가는 div css */
.update-content-detail-content{
	padding-top : 10px;
}
/* 매물정보의 상세정보내용이 들어가는 div css */
.update-content-two{
	width : 100%;
	height : 500px;
}

/* 방 상세정보 div css */
.update-content-detail-summernote{
	width : 90%;
	padding-left : 8%;
}

/* 방 상세정보의 제목 div */
.update-content-detail-title-summernote{
	border-bottom : 1px gray solid;
	font-size : 14pt;
	color : #7EAB7D;
	width : 20%;
	padding-top : 2%;
}

/* 방 상세정보의 내용div */
.update-content-detail-content-summernote{
	width : 100%;
	height : 460px;
	padding-top : 2%;
}


/* 수정할 수 있는 input태그의 css */
.update-input{
	border : none;
}

.floor-input{
	width : 50px;
}

/* 수정완료, 취소하기 버튼 2개를 가지고 있는 div */
.update-room-submit{
	width : 100%;
	margin-left : 83%;
	display : flex;
}

/* input button의 css */
.submitbtn{
	width : 30%;
	height : 30px;
	background-color : #7EAB7D;
	color : white;
	font-size : 12pt;
	border : none;
	border-radius : 10px 10px 10px 10px;
}

a{
	text-decoration : none !important;
	color:#6A6868;
}

.dropbtn{
	font-weight: normal !important;
}

a:hover{
	color : #6A6868;
}



