/* section 기본설정 */

/* 안쓸예정 */
section{
	padding-top : 100px;
	width: 100%;
	max-width: 1200px;
	height: auto;
	
}

section #top_title {
	width : 100%;
	max-width : 1200px;
	height: auto;
	margin: 0 auto;
}




/* section -> main_content로대체되었다. */
#main_content{
	padding-top : 100px;
	width: 100%;
	max-width: 1200px;
	height: auto;
	margin:auto;
}

#main_content #top_title{
	width : 100%;
	max-width : 1200px;
	height: auto;
	margin: 0 auto;
}



.form_div {
	width: 100%;
	max-width : 1100px;
	height: 1800px;
	margin : 0 auto;
	padding-right: 50px;
	padding-left: 50px;
	background-color:#dcdcdc;
	border-radius: 10px;
	
}

#main_form{
	padding:30px;
	height: auto;
}


/* input 구간 나눴음 */

/* --------------- div1 매물이름, 매물종류 --------------- */
#insert_div1{
	margin: 0 auto;
	height: 50px;
	border-bottom: 1px solid;
	display: block;
	padding:5px;
}


#insert_div1 label{
	width: 10%;
	max-width:75px;
	padding-left:10px;
}

#insert_div1 input{
	width: 15%;
	max-width:150px;
}

#insert_div1 select{
	width: 15%;
	max-width:150px;
}


/* --------------- div2 보증금, 매물가격, 매물면적 --------------- */
#insert_div2{
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid;
	display: block;
	padding:5px;
}

#insert_div2 label{
	width: 10%;
	max-width:75px;
	padding-left:10px;
}

#insert_div2 input{
	width: 15%;
	max-width:150px;
}

/* --------------- div3 주소(kakao map) --------------- */
#insert_div3{
	height: 600px;
	padding: 10px 0px 20px 0px;
	margin: 0 auto;
	border-bottom: 1px solid;
	display: block;
	
}

#insert_div3 label{
	width: 10%;
	padding-left:10px;
	max-width:75px;
	padding-left:10px;
}

#insert_div3 #room_addr{
	width : 60%;
	max-width : 600px;
}

#insert_div3 #room_addr{
	margin-bottom:20px;
}


#insert_div3 #map_bg {
	width:60%;
	max-width:600px;
	height:450px;
	margin: auto;
	position: relative;
	z-index: 2;
	background-color:white;
}


#insert_div3 #show_map {
	width:100%;
	max-width:600px;
	height:450px;
	margin: auto;
	position: absolute;
	padding: 100px 50px 50px 50px;
	text-align: center;
	
}

#insert_div3 #show_map #imgIcon{
	margin:auto;
}

#insert_div3 #show_map #map_notice{
	margin-top:20px;
	font-size: 20px;
	color : green;	
}


/* --------------- div4 건물종류, 방 구조, 방 층수 --------------- */
#insert_div4{
	height: 50px;
	padding: 5px;
	margin: 0 auto;
	border-bottom: 1px solid;
	display: block;
}

#insert_div4 label{
	width: 10%;
	max-width:75px;
	padding-left:10px;
}

#insert_div4 input{
	width: 15%;
	max-width:150px;
}

#insert_div4 select{
	width: 15%;
	max-width:150px;
}

/* --------------- div5 준공날짜, 입주가능일 --------------- */
#insert_div5{
	height: 1000px;
	padding-top: 5px;
	margin: 0 auto;
	/* border-bottom: 1px solid; */
	display: block;
}

#insert_div5 #div5_label{
	width: 10%;
	max-width:75px;
	padding-left:10px;
	
}

#insert_div5 #detail_label{
	font-size : 20px;
	width: 20%;
	max-width:150px;
}

#insert_div5 #insert_cpdate{
	width: 15%;
	max-width:150px;
}

#insert_div5 #insert_avdate{
	width: 15%;
	max-width:150px;
}

/* #insert_div5 select{
	width: 15%;
	max-width:150px;
}
 */
#insert_div5 #insert_list {
	width : 100%;
	max-width : 1200px;
	background-color: #b4b4b4;
	height : 120px;
	margin-bottom:20px;
}

#insert_div5 #insert_imglist{
	width : 100%;
	max-width : 1200px;
	background-color: #b4b4b4;
	height : 220px;
	padding: 10px;
	
}

/* #insert_div5 #insert_imglist #thumb_area {
	height:100px;
	width:100%;
	max-width: 920px;
	background-color: white;
	border: 2px solid black;
	
} */


#insert_div5 #insert_list{
	
	padding: 10px;
		
}

#insert_div5 .div5_label{
	width: 10%;
	max-width:75px;
	padding-left:10px;
}

#insert_list #list_area{
	resize: none;
	width:100%;
	max-width: 1000px;
	height:100px;
	margin:auto;
	display:block;
}






/* --------------- control --------------- */




 #insert_div5 .control {
	margin-top: 30px;
} 

.control #submit_button{
	width : 10%;
	max-width : 100px;
}

.control #cancel_button{
	width : 10%;
	max-width : 100px;
}


/* footer */

footer {
	margin-top: 50px;
}


/* 도로명 주소 */

/***************************************************/
/* 이미지 */
/***************************************************/
/* 바탕 배경 이미지 최적의 이미지 크기는 468 * 251px */
/* .pop-address-search .pop-address-search-inner { background-image: url(이용기관사이트 이미지 url); }
회사 로고 이미지 이미지 크기는 149 * 14px
.pop-address-search .pop-address-search-inner .logo { background: url(이용기관사이트 로고 이미지 url) no-repeat; background-position:center; }
 */
/***************************************************/
/* 배경색상 */
/***************************************************/
/* 바탕 배경색상 */
.pop-address-search .pop-address-search-inner { background-color:#ECECEC; }

/* 검색창 색상 */
.pop-address-search .pop-address-search-inner .wrap input { background-color:#FFFFFF; }

/* 검색버튼 색상 */
.pop-address-search .pop-address-search-inner .wrap { background-color:#FFFFFF; }

/* 본문 배경색(홀수) */
.pop-address-search .pop-address-search-inner .result table.data-col tbody tr:nth-child(odd) td {background:#FFFFFF}

/* 본문 배경색(짝수) */
.pop-address-search .pop-address-search-inner .result table.data-col tbody tr:nth-child(even) td {background:#FFFFFF}

/***************************************************/
/* 글자색상 */
/***************************************************/
/* 검색 결과  글자색상 */
table.data-col  { color:#FFFFFF; }
table.data-col tbody tr td.subj { color:#333333; }

/* 검색창 글자 색상 */
.pop-address-search .pop-address-search-inner .wrap input { color:#222222; }
