<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<!-- 사용할 Dto를 설정해주기 -->
<!-- [ex] <typeAlias type="com.mvc.spring.model.dto.BoardDto" alias="BoardDto"/> -->
<typeAliases>
	<typeAlias type="com.mvc.homeseek.model.dto.RoomDto" alias="RoomDto"/>
	<typeAlias type="com.mvc.homeseek.model.dto.CommentDto" alias="CommentDto"/>
	<typeAlias type="com.mvc.homeseek.model.dto.DonationDto" alias="DonationDto"/>
	<typeAlias type="com.mvc.homeseek.model.dto.MessageDto" alias="MessageDto"/>
	<typeAlias type="com.mvc.homeseek.model.dto.NoticeDto" alias="NoticeDto"/>
	<typeAlias type="com.mvc.homeseek.model.dto.QnaDto" alias="QnaDto"/>
	<typeAlias type="com.mvc.homeseek.model.dto.ReportDto" alias="ReportDto"/> 
	<typeAlias type="com.mvc.homeseek.model.dto.MemberDto" alias="MemberDto"/>
	<typeAlias type="com.mvc.homeseek.model.dto.WishDto" alias="WishDto"/>
</typeAliases>
	

<!-- 사용할 mapper를 설정해주기 -->
<!-- [ex] <mapper resource="/mybatis/board-mapper.xml"/> -->
<mappers>
	<mapper resource="/mybatis/member-mapper.xml"/>
	<mapper resource="/mybatis/room-detail-mapper.xml"/>
	<mapper resource="/mybatis/room-list-mapper.xml"/>
	<mapper resource="/mybatis/report-mapper.xml"/>
	<mapper resource="/mybatis/roomInsert-mapper.xml"/>
	<mapper resource="/mybatis/message-mapper.xml"/>
	<mapper resource="/mybatis/wish-mapper.xml"/>
	<mapper resource="/mybatis/notice-mapper.xml"/>
	<mapper resource="/mybatis/qna-mapper.xml"/>
	<mapper resource="/mybatis/comment-mapper.xml"/>
	<mapper resource="/mybatis/donate-mapper.xml"/>
</mappers>


</configuration>