<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
	<!-- <select id="allMember" parameterType="MemberDto" resultType="MemberDto">
		SELECT MEMBER_ID, MEMBER_NAME, MEMBER_PHONE, MEMBER_ENABLED, MEMBER_ROLE
		FROM MEMBER
		ORDER BY MEMBER_ENABLED
	</select> -->
	
	<select id="allReport" parameterType="ReportDto" resultType="ReportDto">
		SELECT REPORT_NO, REPORT_SENID, REPORT_REID, REPORT_TITLE, REPORT_CONTENT, REPORT_DATE
		FROM REPORT
	</select>
	<select id="reportRes" parameterType="int" resultType="ReportDto">
		SELECT REPORT_NO, REPORT_SENID, REPORT_REID, REPORT_TITLE, REPORT_CONTENT
		FROM REPORT
		WHERE REPORT_NO = #{report_no}
	</select>
	
	<!-- 총 회원 수 출력 -->
	<select id="countMember" resultType="int">
		SELECT COUNT(*) 
		FROM MEMBER
	</select>
	<!-- 일반 회원 갯수 출력 -->
	<select id="countNormal" resultType="int">
		SELECT COUNT(*) 
		FROM MEMBER
		WHERE MEMBER_ENABLED = 'N'
	</select>
	<!-- 차단 회원 갯수 출력 -->
	<select id="countBan" resultType="int">
		SELECT COUNT(*) 
		FROM MEMBER
		WHERE MEMBER_ENABLED = 'B'
	</select>
	<!-- 탈퇴 회원 갯수 출력 -->
	<select id="countWithdrwal" resultType="int">
		SELECT COUNT(*) 
		FROM MEMBER
		WHERE MEMBER_ENABLED = 'D'
	</select>
	

	<!-- 페이징 처리 후 모든 멤버 조회 -->
	<select id="allMember" resultType="MemberDto">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
						SELECT * 
						FROM MEMBER 
						ORDER BY MEMBER_ENABLED DESC 
							) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
		<!-- 페이징 처리 후 일반 회원 조회 -->
	<select id="NormalMember" resultType="MemberDto">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
						SELECT * 
						FROM MEMBER 
						WHERE MEMBER_ENABLED = 'N'
						ORDER BY MEMBER_ENABLED DESC 
							) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
		<!-- 페이징 처리 후 차단 회원 조회 -->
	<select id="BanMember" resultType="MemberDto">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
						SELECT * 
						FROM MEMBER 
						WHERE MEMBER_ENABLED = 'B'
						ORDER BY MEMBER_ENABLED DESC 
							) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
		<!-- 페이징 처리 후 탈퇴 회원 조회 -->
	<select id="WithdrawalMember" resultType="MemberDto">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
						SELECT * 
						FROM MEMBER 
						WHERE MEMBER_ENABLED = 'D'
						ORDER BY MEMBER_ENABLED DESC 
							) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
		<!-- 총 후원조회 갯수 출력 -->
	<select id="countDonation" resultType="int">
		SELECT COUNT(*) 
		FROM DONATION
	</select>

	<!-- 페이징 처리 후 전체 후원 조회 -->
	<select id="allDonation" resultType="DonationDto">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
						SELECT * 
						FROM DONATION 
						ORDER BY DONA_NO DESC 
							) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	
	</select>
	<!-- 신고 반려 -->
	<delete id="rejectReport" parameterType="int">
		DELETE 
		FROM REPORT
		WHERE REPORT_NO = #{report_no} 
	</delete>
	<!-- 신고 승인 -->
	<update id="acceptReport" parameterType = "String">
		UPDATE MEMBER
		SET MEMBER_ENABLED = 'B'
		WHERE MEMBER_ID = #{report_reid}
	</update>
	<!-- 신고 승인 후 리스트에서 삭제 -->
	<delete id="acceptDelete" parameterType="String">
		DELETE 
		FROM REPORT
		WHERE REPORT_REID = #{report_reid} 
	</delete>
	<!-- 회원 활성화 여부 수정 -->
	<update id="enableModify" parameterType = "String">
		UPDATE MEMBER
		SET MEMBER_ENABLED = 'N'
		WHERE MEMBER_ID = #{member_id}
	</update>
	
</mapper>
