<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<select id="login" parameterType="MemberDto" resultType="MemberDto">
		SELECT MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PHONE, MEMBER_ENABLED, MEMBER_ROLE
		FROM MEMBER
		WHERE MEMBER_ID = #{member_id}
		AND MEMBER_PW = #{member_pw}
	</select>
	<!-- 매물 올린 사용자의 정보를 추출하기위한 mapper -->
	<select id="selectMemberById" resultType="MemberDto" parameterType="String">
		SELECT MEMBER_ID, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PHONE
		FROM MEMBER
		WHERE MEMBER_ID = #{id}
	</select>

</mapper>
