<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<!-- 로그인 -->
	<select id="login" parameterType="MemberDto"
		resultType="MemberDto">
		SELECT MEMBER_ID, MEMBER_PW, MEMBER_NAME,
		MEMBER_PHONE, MEMBER_ENABLED, MEMBER_ROLE
		FROM MEMBER
		WHERE MEMBER_ID =
		#{member_id}
		AND MEMBER_PW = #{member_pw}
	</select>

	<!-- sns로그인 -->
	<select id="getBySnsNaver" parameterType="MemberDto"
		resultType="MemberDto">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID =
		#{snsUser.getMember_id()}
	</select>

	<select id="getBySnsGoogle" parameterType="MemberDto"
		resultType="MemberDto">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID =
		#{snsUser.getMember_googleid()}
	</select>
	
	<select id="getBySnsKakao" parameterType="MemberDto"
		resultType="MemberDto">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID =
		#{snsUser.getMember_kakaoid()}
	</select>

	<!-- 회원가입 -->
	<insert id="insert" parameterType="MemberDto">
		INSERT INTO MEMBER
		VALUES(#{member_id}, #{member_pw}, #{member_name},
		#{member_phone}, 'N', 'N')

	</insert>
	<!-- 아이디 중복 검사 -->
	<select id="checkId" parameterType="String" resultType="int">
		SELECT
		COUNT(*)
		FROM MEMBER
		WHERE MEMBER_ID = #{member_id}
	</select>
	<!-- 핸드폰 번호 중복검사 -->
	<select id="checkPhone" parameterType="MemberDto" resultType="int">
		SELECT
		COUNT(*)
		FROM MEMBER
		WHERE MEMBER_PHONE = #{member_phone}
		AND MEMBER_NAME = #{member_name}
	</select>
	
	<!-- 아이디 존재 유무 찾기 -->
	<select id="findId" parameterType="MemberDto" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_NAME = #{member_name}
		AND MEMBER_PHONE = #{member_phone}
	</select>
	<!-- 찾는 아이디 뽑아주기 -->
		<select id="selectId" parameterType="MemberDto" resultType="String">
		SELECT MEMBER_ID
		FROM MEMBER
		WHERE MEMBER_NAME = #{member_name}
		AND MEMBER_PHONE = #{member_phone}
	</select>
	<!-- 비밀번호 존재 유무 찾기: 이름 아이디 전화번호 -->
	<select id="findPw" parameterType="MemberDto" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_NAME = #{member_name}
		AND MEMBER_PHONE = #{member_phone}
		AND MEMBER_ID = #{member_id}
	</select>
	<!-- 회원  비밀번호 바꾸기-->
	<update id="searchPassword" parameterType="map">
		UPDATE MEMBER SET MEMBER_PW = #{pwd_new} 
		WHERE MEMBER_ID = #{pwd_id} AND MEMBER_PHONE = #{pwd_phone} AND MEMBER_NAME = #{pwd_name}
	</update>


	
	<!-- 매물 올린 사용자의 정보를 추출하기위한 mapper -->
	<select id="selectMemberById" resultType="MemberDto"
		parameterType="String">
		SELECT MEMBER_ID, MEMBER_NAME,
		MEMBER_PHONE
		FROM MEMBER
		WHERE MEMBER_ID = #{id}
	</select>
	
	<!-- 신고받은 회원의 enabled 변경 -->
	<update id="updateMemberEnabled" parameterType="String">
		UPDATE MEMBER SET MEMBER_ENABLED = 'R' WHERE MEMBER_ID = #{report_reid}
	</update>	
	
	<!-- 탈퇴회원의 enabled 변경 -->
	<update id="dropoutMemberEnabled" parameterType="String">
		UPDATE MEMBER SET MEMBER_ENABLED = 'D' WHERE MEMBER_ID = #{member_id}
	</update>
</mapper>
