<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="message-mapper">

	<!-- 쪽지보내기 -->
	<insert id="insertMessage" parameterType="MessageDto">
		INSERT INTO MESSAGE VALUES(MESSAGE_NO_SEQ.NEXTVAL, #{message_senid}, #{message_reid}, #{message_title}, #{message_content}, SYSDATE, 'R', 'R')
	</insert>

</mapper>
