<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="message-mapper">

	<!-- 쪽지보내기 -->
	<insert id="insertMessage" parameterType="MessageDto">
		INSERT INTO MESSAGE VALUES(MESSAGE_NO_SEQ.NEXTVAL, #{message_senid}, #{message_reid}, #{message_title}, #{message_content}, SYSDATE, 'R', 'R')
	</insert>
	
	<!-- 쪽지함 확인하기 / 받은 쪽지들 뽑아주기 -->
	<select id="selectMyMessageList" parameterType="String" resultType="MessageDto">
		SELECT MESSAGE_NO, MESSAGE_SENID, MESSAGE_REID, MESSAGE_TITLE, MESSAGE_CONTENT, MESSAGE_DATE, MESSAGE_SENDEL, MESSAGE_REDEL
		FROM MESSAGE
		WHERE MESSAGE_REID = #{message_reid}
		OREDER BY MESSAGE_NO ASC
	</select>
</mapper>
