<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qna">

	
	<select id="selectList" resultType="QnaDto">
		SELECT qna_no, qna_id, qna_title, qna_regdate, qna_SECRETFLAG  
		FROM QNA ORDER BY qna_no DESC
	</select>
	
	
	<select id="selectOne" resultType="QnaDto">
		select qna_no, qna_id, qna_regdate, qna_title, qna_content 
		from QNA 
		where qna_no = #{qna_no}
	</select>
	
	<insert id="insert" parameterType="QnaDto">
		INSERT INTO QNA VALUES(QNA_NO_SEQ.NEXTVAL, #{qna_title}, #{qna_content}, SYSDATE, '1', 'N', #{qna_pwd},'N', #{qna_id})
	</insert>
	
	<update id="update" parameterType="QnaDto" >
		UPDATE QNA 
		SET qna_title = #{qna_title}, qna_content = #{qna_content} 
		WHERE qna_no = #{qna_no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM QNA WHERE qna_no = #{qna_no}
	</delete>



</mapper>