<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="roomInsert">
	
	<insert id="selectRoomInsert" parameterType="RoomDto">
		INSERT INTO ROOM
		VALUES(
			ROOM_NO_SEQ.NEXTVAL, 
			#{room_name}, 
			'사진', 
			#{room_type}, 
			#{room_deposit},
			#{room_price}, 
			#{room_extent}, 
			#{room_addr}, 
			#{room_kind}, 
			#{room_structure}, 
			#{room_floor},
			SYSDATE, 
			TO_DATE(#{room_cpdate}, 'yyyy/MM/dd'), 
			TO_DATE(#{room_avdate}, 'yyyy/MM/dd'), 
			#{room_detail}, 
			#{room_id})		
	</insert>
	
	<!-- 보증금이 없을때 -->
	<insert id="selectRoomInsert2" parameterType="RoomDto">
		INSERT INTO ROOM
		VALUES(
			ROOM_NO_SEQ.NEXTVAL, 
			#{room_name}, 
			'사진', 
			#{room_type}, 
			'0',
			#{room_price}, 
			#{room_extent}, 
			#{room_addr}, 
			#{room_kind}, 
			#{room_structure}, 
			#{room_floor},
			SYSDATE, 
			TO_DATE(#{room_cpdate}, 'yyyy/MM/dd'), 
			TO_DATE(#{room_avdate}, 'yyyy/MM/dd'), 
			#{room_detail}, 
			#{room_id})		
	</insert>
	
 
</mapper>
