<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="room-list-mapper">


	<select id="totalCountRoomList" resultType="int">
		SELECT count(ROOM_NO)
		FROM ROOM
	</select>

	<select id="selectRoomList" resultType="RoomDto" parameterType="map">
	<![CDATA[
		SELECT ROOM_NO, ROOM_NAME, ROOM_PHOTO, ROOM_TYPE, ROOM_DEPOSIT, ROOM_PRICE, ROOM_EXTENT, ROOM_ADDR, ROOM_KIND, ROOM_STRUCTURE, ROOM_FLOOR, ROOM_REGDATE, ROOM_CPDATE, ROOM_AVDATE, ROOM_DETAIL, ROOM_ID
		FROM (
			SELECT rownum rnum, ROOM_NO, ROOM_NAME, ROOM_PHOTO, ROOM_TYPE, ROOM_DEPOSIT, ROOM_PRICE, ROOM_EXTENT, ROOM_ADDR, ROOM_KIND, ROOM_STRUCTURE, ROOM_FLOOR, ROOM_REGDATE, ROOM_CPDATE, ROOM_AVDATE, ROOM_DETAIL, ROOM_ID
			FROM (
				SELECT ROOM_NO, ROOM_NAME, ROOM_PHOTO, ROOM_TYPE, ROOM_DEPOSIT, ROOM_PRICE, ROOM_EXTENT, ROOM_ADDR, ROOM_KIND, ROOM_STRUCTURE, ROOM_FLOOR, ROOM_REGDATE, ROOM_CPDATE, ROOM_AVDATE, ROOM_DETAIL, ROOM_ID
				FROM ROOM
				ORDER BY ROOM_NO DESC
			)
			WHERE rownum <= #{endItemNo}
		) 
		WHERE rnum >=#{beginItemNo}
	]]>
	</select>
	
	<select id="selectRoomList2" resultType="RoomDto">
		SELECT ROOM_NO, ROOM_NAME, ROOM_PHOTO, ROOM_TYPE, ROOM_DEPOSIT,
		ROOM_PRICE, ROOM_EXTENT, ROOM_ADDR, ROOM_KIND, ROOM_STRUCTURE,
		ROOM_FLOOR, ROOM_REGDATE, ROOM_CPDATE, ROOM_AVDATE, ROOM_DETAIL,
		ROOM_ID
		FROM ROOM
		ORDER BY ROOM_NO DESC
	</select>
	
	<select id="mypageMyRoomList" parameterType="String" resultType="RoomDto">
		SELECT ROOM_NO, ROOM_NAME, ROOM_PHOTO, ROOM_TYPE, ROOM_DEPOSIT,
		ROOM_PRICE, ROOM_EXTENT, ROOM_ADDR, ROOM_KIND, ROOM_STRUCTURE,
		ROOM_FLOOR, ROOM_REGDATE, ROOM_CPDATE, ROOM_AVDATE, ROOM_DETAIL,
		ROOM_ID
		FROM ROOM
		WHERE ROOM_ID = #{room_id}
		ORDER BY ROOM_NO ASC 	
	</select>
	
	<!-- mypageMyroomlist에서 올린 매물 삭제하기 -->
	<delete id="muldeleteMyRoomList" parameterType="int">
		DELETE FROM ROOM WHERE ROOM_NO = #{room_no}
	</delete>
</mapper>
