<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="room-detail-mapper">
	<!-- 방 상세보기 -->
	<select id="selectRoomOne" parameterType="int" resultType="RoomDto">
		SELECT ROOM_NO, ROOM_NAME, ROOM_PHOTO, ROOM_TYPE, ROOM_DEPOSIT, ROOM_PRICE, ROOM_EXTENT, ROOM_ADDR, ROOM_KIND, ROOM_STRUCTURE, ROOM_FLOOR, ROOM_REGDATE, ROOM_CPDATE, ROOM_AVDATE, ROOM_LONGI, ROOM_LATI, ROOM_DETAIL, ROOM_ID
		FROM ROOM
		WHERE ROOM_NO = #{room_no}
	</select>
	
	<!-- 방 수정하기 -->
	<update id="updateRoomOne" parameterType="RoomDto">
		UPDATE SET
		ROOM ROOM_NAME = #{room_name},
		ROOM_TYPE = #{room_type},
		ROOM_DEPOSIT = #{room_deposit},
		ROOM_PRICE = #{room_price},
		ROOM_EXTENT =  #{room_extent},
		ROOM_ADDR = #{room_addr},
		ROOM_KIND = #{room_kind},
		ROOM_STRUCTURE = #{room_structure},
		ROOM_FLOOR = #{room_floor},
		ROOM_REGDATE = #{room_regdate},
		ROOM_CPDATE = #{room_cpdate},
		ROOM_AVDATE = #{room_adate},
		ROOM_LONGI = #{room_longi},
		ROOM_LATI = #{room_lati},
		ROOM_DETAIL = #{room_detail}
		FROM ROOM
	</update>
	
	<!-- 방 삭제하기 -->
	<delete id="deleteRoomOne" parameterType="int">
		DELETE FROM ROOM WHERE ROOM_NO = #{room_no}
	</delete>
</mapper>
